doctype html
head
  title Routes
  style.
    body {
    font-family: monospace;
    }
    p > span:first-child {
    display: inline-block;
    width: 180px;
    font-weight: bold;
    }
h1 Routes
p
  span GET /players
  span Get all players
p
  span POST /players
  span Create a new player
p
  span GET /players/:id
  span Get a certain player
p
  span PUT /players/:id
  span Edit a certain player
p
  span DELETE /players/:id
  span Delete a certain player